@charset "UFT-8"

* {
  font-family: "Times New Roman", Times, serif;
  height: 100%;
}

body {
  background-image: -moz-linear-gradient(to bottom, #0000ff, #ffffff);
}

p {
  text-align: justify;
}
